<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>
<% if logged_in? %>
<%= link_to "Logout", logout_path, method: :delete, class: "item" %>
<% else %>
<%= link_to "Log in", login_path, class: "item" %>
<% end %>

<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, method: :delete, class: "item" %>
      <% else %>
        <%= link_to "Log in", login_path, class: "item" %>
      <% end %>
      <a class="item">Sign up</a>
    </div>
  </div>
  <% if !logged_in? %>
  <div class="item">
      <div class="ui primary button">Sign Up</div>
  </div>
  <% end %>
</div>